<div class="frame-129">
  <img class="logo" src="/assets/images/goto-Logo.webp" />
  
  <div class="content">
    <div class="the-articles-that-matter">
      <span class="the-articles-that-matter-span">The Articles that<br /></span>
      <span class="the-articles-that-matter-span2">matter</span>
    </div>
    
    <div class="dive-into-articles-that-inspire-fresh-ideas-share-valuable-insights-and-open-new-perspectives-to-help-you-see-the-bigger-picture">
      Dive into articles that inspire fresh ideas, share valuable insights, and
      open new perspectives to help you see the bigger picture.
    </div>
    
    <button class="read-button-new" (click)="viewMoreArticles()">
        <span class="button-text-new">View More</span>
        <span class="button-icon-new">→</span>
    </button>
  </div>
</div>
